body {
  overscroll-behavior-y: none;
}

@media (max-width: 1564px) {  /* 860 / 0.55 */
  #ide-wrapper:not(.toggled) #main {
    padding-right: 10px;
  }
}

#main {
  transition: padding 0.5s ease;
}
.doc div.code {
  display: block;
  overflow-x: auto;
}

*:focus {
  outline: none;
}

#jscoq-plug {
  position: absolute;
  height: 32px;
  right: 0;
  top: 40px;
  width: 30px;
  background: url(../../../../node_modules/jscoq/ui-images/jscoq-splash.png);  
  background-size: cover;
  cursor: pointer;
  transition: visibility 0s linear 1s, width 0.2s ease;
}

#jscoq-plug:hover {
  width: 50px;
}

body.jscoq-launched #jscoq-plug {
  width: 0;
  visibility: hidden;
}

#hide-panel{
  transition: visibility 0s linear .25s;
}

body:not(.jscoq-launched) #hide-panel {
  visibility: hidden;
}